<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Título e icono de la página web -->
        <title>Tres en raya</title>
        <link  rel="icon"   href="../../assets/images/favicon.jpg" type="image/jpg">

        <!-- Enlaces a ficheros de estilo (css) y scripts -->
        <link rel="stylesheet" type="text/css" href="../styles/error.css">
    </head>
    <body>
        <main>
            <h1>No se ha iniciado sesión</h1>
            <a href="login.html" target="_self">Iniciar sesión / Registrarse</a>
        </main>
    </body>
</html>